﻿<div id="memeViewer_Homepage" >
    <!-- Left Side Menu-->
    <ul style="display:inline-table">
        <li left-side-menu style="display: inline"> </li>  
        <li recently-added-gallery style="display:inline-table; padding-left:20px;"></li>       
    </ul>
</div>