﻿<br/> <br/>
	<div class="menuSide">
		<nav class="dr-menu" id="fl_menu">
			<div class="dr-trigger"> 
                <span class="dr-icon dr-icon-menu"></span>
                <a class="dr-label">Meme Viewer Menu</a>
            </div>
			<ul>
				<li><a class="dr-icon dr-icon-user" href="/Home">Meme Catalog</a></li>
				
                <li><a class="dr-icon dr-icon-camera" href="#/Home/UploadImage/">Add Memes</a></li>							
			</ul>
		</nav>
	</div>     

