﻿

<div class="mainGallery" ng-show="dataReady" style="display:inline-table">		                
        <div class="view view-sixth">   
             <img ng-src="Images/chooseCategory.jpg" style="width:300px; height:300px;"/>              
             <div class="mask" >
                <h2>View Memes By Category </h2>  
                <select ng-model="selectedCategory" value="sortItem" ng-change="categoryUpdate()"
                    ng-options="sortItem for sortItem in categories" >    </select>
            </div> 
                      
	    </div>
        
        <div class="view view-sixth" ng-repeat="meme in memeCollection | orderBy: memeOrderBy.property : memeOrderBy.order | filter: selectedCategory">
            <img ng-src="{{meme.Address}}" style="width:300px; height:300px;"/>
            <div class="mask" >
                <h2>{{meme.Title}}</h2>
                <p> {{meme.Description}} </p>                      
                
                <ul style="display:inline-table">
                    <li style="display:inline-table; padding-left:10px;">  <a href="#/Home/ViewMeme/{{meme.MemeId}}" class="info">View</a>  </li>
                </ul>                 
            </div>               
	    </div>

        
</div>
    
   