﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Meme Viewer Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
         </header>
       

        <div id="body">
         @RenderBody()
        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Gerard's Beaubrun Meme Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
         @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/angularSetUp")
        @Scripts.Render("~/bundles/angularMemeApp")
        @RenderSection("scripts", required: false)
    </body>
</html>
