﻿<section class="mainForm">
	<form class="form-2">
		<h1><span class="log-in">aRE YOU SOURE YOU WANT TO </span> 
        <span class="sign-up">DELETE THIS MEME</span></h1>					
                    
		<p class="clearfix"> 
        <ul>
			<li><a a href="#" class="log-twitter" ng-click="returnHome()">Cancel</a></li>
            <li><a class="log-twitter"  ng-click="deleteMeme()"> Delete Meme</a>    </li>						
        <ul>
		</p>
	</form>​​
</section>