﻿<section class="mainForm">
	<form class="form-2">
		<h1><span class="log-in">Edit the </span> <span class="sign-up">Meme</span></h1>
       <p class="float">
            <input ng-model="edit.title" type="text" id="password" name="title" placeholder="Title">
		            		        
		</p>

        <p class="float">
             <input ng-model="edit.description" type="text" id="login" name="description" placeholder="Description"> 
                     		        
		</p>
        
        <p clearfix">
		    <a ng-click="toggleEdit()" class="log-twitter">Cancel</a>
            <a class="log-twitter" ng-click="editMeme()">Edit Meme</a>
        </p>
	</form>​​​​
</section>