﻿<div id="memeViewer_ViewMemePage" >
    <!-- Left Side Menu-->
    <ul style="display:inline-table">
        <li left-side-menu style="display: inline"> </li>  
        <li view-one-meme style="display:inline-table;"></li>
        <li edit-box ng-if="memeEdit" style="display:inline;"> </li>   
        <li delete-box ng-if="memeDelete" style="display:inline;"> </li>       
    </ul>
</div>