﻿
<!--
<h2>File Upload</h2>
<div class="control-group">
    <div class="controls">
        <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <input type="file" name="file" data-url="Upload/UploadImage" multiple upload/>
        </span>
    </div>
</div>

<div>
    <span ng-show="!files.length">No files selected</span>
    <ul>
        <li ng-repeat="file in files">{{file}}</li>
    </ul>
</div>


<div class="form-actions">
    <button type="submit" class="btn btn-primary pull-left" ng-click="upload()">Upload</button>
</div>


<div class="progress" ng-show="percentage">
    <div class="bar" style="width: {{percentage}}%;"></div>
</div>
-->



    <input type="file" file-model="myFile"/>  <button ng-click="uploadFile()">upload me</button>
