﻿
<div class="mainGallery" ng-show="dataReady" style="display:inline";>		                
		<div class="viewMeme view-sixth" ng-repeat="meme in memeCollection" >
			<img ng-src="{{meme.Address}}" style="width:500px; height:500px;"/>
			<div class="mask" >
				<h2>{{meme.Title}}</h2>
				<p> {{meme.Description}} </p> 
				<p> </p>        
				
				<ul style="display:inline-table">                    
					<li style="display:inline-table; padding-left:10px;"> <a class="info" ng-click="toggleFavorite(meme.Favorite)">  {{favoriteText}}  </a> </li>
                    <li style="display:inline-table; padding-left:10px;"> <a class="info" ng-click="toggleEdit()">  Edit  </a> </li>
					<li style="display:inline-table; padding-left:10px;"> <a class="info" ng-click="toggleDelete()">Delete</a> </li>                    
				 </ul>                 
			</div>               
		</div>
</div>
	
